@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #2ec4ff;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #2ec4ff;
}


/* Home section */

.home {
    width: 100%;
    height: 29vw;
    background-image: url(https://www.jadeglobal.com/sites/default/files/2020-11/industry-webinar-banner-min.jpg);
    background-position: center top;
	background-repeat: no-repeat;
    background-size: cover;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}






.myH2 {
	text-align:center;
	font-size: 4vh;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}

/* Zelf toegevoegd */

.bodycontainer{
	width:90%;
	margin:auto;
	overflow:hidden;
}

.articleontainer{
    width:100%;
    margin:auto;
    overflow:hidden:
}

#bannerleft{
	float:left;
	width:25%;
	padding:0 2%;
	box-sizing: border-box;
}

#bannerright{
	float:right;
	width:75%;
	background: #2ec4ff;
	color:#fff;
	padding: 3%;
	box-sizing: border-box;
}

#page-sections{
	float:none;
	width:90%;
    background: #2ec4ff25;
	padding:0 2%;
	box-sizing: border-box;Thuis (Oude Binnenweg 48)
    border-radius: 1em;
}

#articles{
    float: none;
    width: 100%;
    background: none;
    box-sizing: border-box;
}


#textleft{
	float:left;
	width:80%;
	padding:0%;
	box-sizing: border-box;
}

#imageright{
	float:right;
	width:20%;
	padding:0%;
	box-sizing: border-box;
}

#textleft60{
	float:left;
	width:60%;
	padding:0%;
	box-sizing: border-box;
}

#imageright40{
	float:right;
	width:40%;
	padding:0%;
	box-sizing: border-box;
}

.row {
    display: flex;
}
  
.column {
    flex: 33.33%;
    padding: 1%;
}

.column2 {
    flex: 65%;
    padding: 1%;
}

.column3 {
    flex: 13.5%;
    padding: 1%;
}

.column4 {
    flex: 21.5%;
    padding: 1%;
}

.titlecolumn {
    flex: 50%;
    padding: 5px;
}

.myT1 {
	text-align:left;
	font-size: 1.6vh;
}
.myT2 {
	text-align:left;
	font-size: 2.5vh;
    font-weight: bold;
}

.myT3 {
	text-align:right;
	font-size: 1vw;
    font-weight: bold;
}

.myT4 {
	text-align:center;
	font-size: 1.5vw;
    font-weight: bold;
}

.tekstvakVSC {
    width:100%;
    height:70px;
    padding:0 2%;
    border:1px solid #B8CADA;
    background-color:#ffffff;
    color:#000000;
    font-size:0.7rem;
    overflow:scroll;
    overflow-x:hidden;
}

.clock {
    position: relative;
    top: 23.5vw;
    left: 2%;
    color: #ffffff50;
    font-size: 4vw;
    font-family: Orbitron;
    letter-spacing: 7px;
}

.imagescale{
    width:100%;
    height: auto;
}

.imagefit{
    object-fit: scale-down;
}

/* Style buttons */
.btn {
    background-color: rgb(13, 16, 49);
    border: none;
    color: white;
    padding: 0.5% 1%;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 0.5em;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: rgb(74, 83, 176);
  }

.afronding{
    border: radius 0.5em;;
}

/*pop-up*/
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.popup{
    background-color: #ffffff;
    width: auto;
    padding: 1% 1%;
    position: fixed;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 35%;
    border-radius: 0.5em;
    font-family: "Poppins",sans-serif;
    display: none;
    text-align: center;
    
}
.popup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #c5c5c5;
    border: none;
    outline: none;
    cursor: pointer;
}
.popup p{
    font-size: 14px;
    text-align: center;
    margin: 20px 0;
    line-height: 25px;
}
.pop-up-style{
    display: block;
    width: 150px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: rgb(13, 16, 49);
    color: #ffffff;
    text-decoration: none;
    padding: 5px 0;
}

.transitions { 
    opacity: 0;
    transition: opacity .5s;
 }